html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.landing-container {
  position: relative;
}

.landing-mainDiv {
  height: 100%;
}

.landing-link {
  text-decoration: none;
  color: #252525;
}
.container {
  padding: 40px 50px 0px 50px;
  width: 100%;
  overflow-x: hidden;
}
.landing-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

.category_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding-bottom: 3.5rem;
}
.category_container-child {
  width: 350px;
  height: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.category_container-child:hover {
  box-sizing: border-box;
  transition: 0.3s;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}
.category-heading {
  padding-top: 1rem;
  font-size: 32px;
  transform: scale(1.2, 1.2);
}
.category-description {
  font-size: large;
  padding-bottom: 40px;
}

.paragraph {
  margin: 2.5rem;
  text-align: left;
}
h2 {
  padding-left: 2.5rem;
  text-align: left;
}
