html {
  overflow-x: hidden;
  overflow-y: auto;
}

.landing_parent_Div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.landing-mainDiv {
  text-align: left;
}

.landing-link {
  text-decoration: none;
  color: #252525;
}
/* .container {
  padding: 0px 50px 0px 50px;
} */

.category_container {
  display: flex;
  gap: 5rem;
  padding-bottom: 3rem;
}
.category_container-child {
  width: 350px;
  height: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.category_container-child:hover {
  transition: 0.3s;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
}
.category-heading {
  padding-top: 2rem;
  font-size: 32px;
  transform: scale(1.2, 1.2);
}
.category-description {
  margin-top: 1rem;
  font-size: large;
  padding-bottom: 40px;
}

.paragraph {
  margin: 2.5rem;
}
.category_container-child h1 {
  padding-left: 2.5rem;
}
