.current-img {
  object-fit: cover;
  height: 80%;
  width: auto;
  border-radius: 5px;
  transition: transform 0.5s, filter 1s ease-in-out;
}
.img-container {
  overflow: hidden;
}
.img-container:hover img {
  transform: scale(1.2);
}
.current-mainDiv {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.current-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  gap: 1.5rem;
  margin: 1rem;
  line-height: 2.5rem;
}

.current-content {
  margin-top: 1rem;
  width: 30rem;
  height: 35rem;
}
.current-card h2 {
  font-size: x-large;
}
.current-card p {
  font-size: large;
}
.current-card-p {
  color: gray;
}
.current-addtocart-btn {
  color: whitesmoke;
  background-color: #b21368;
  border-radius: 3px;
  border: 1px solid #b21368;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
  font-weight: 600;
}
.current-addtocart-btn:active {
  color: #252525;
  transition: 0.2s;
  background-color: whitesmoke;
}
.current-wishlist-btn {
  border: 1px solid #b21368;
  border-radius: 3px;
  background: none;
  margin-top: 1rem;
  padding: 0.45rem;
  width: 50%;
  cursor: pointer;
  font-weight: 600;
}
.current-wishlist-btn:active {
  color: whitesmoke;
  transition: 0.2s;
  background-color: #b21368;
}
.current-offer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.current-offer p {
  font-size: medium;
  color: #069848;
}
