.wishlist-img {
  border-radius: 0.5rem 0rem 0rem 0rem;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.card {
  height: 250px;
  overflow: hidden;
  background-image: 100% auto;
  display: flex;

  align-items: center;
  width: 35rem;
  gap: 0.5rem;
  margin: 20px;

  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wishlist-data {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 400px;
}

.wishlist-h2 {
  font-size: x-large;
}

.card:hover {
  transition: 0.5s;
  box-shadow: 0px 4px 10px rgba(221, 131, 149, 0.534);
}
.wishlist-button {
  margin-right: 8px;
  margin-top: 2rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-size: 16px;
  font-weight: 400;
  min-height: 3rem;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.wishlist-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
