.wishlist-img {
  object-fit: cover;
  height: auto;
  width: 200px;
  border-radius: 3px;
}

.wishlist-mainDiv {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.wishlist-card {
  display: flex;
  width: 30rem;
  padding: 10px;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  gap: 1rem;
  margin: 1rem;
  line-height: 2rem;
}

.wishlist-card:hover {
  transition: 0.3s;
  border-top: 1px solid #b21368e0;
  border-bottom: 1px solid #b21368e0;
}

.wishlist-card h2 {
  font-size: x-large;
}

.wishlist-p {
  color: gray;
}

.wishlist-data {
  display: flex;
  align-items: center;
}

.wishlist-btn {
  color: whitesmoke;
  background-color: #b21368;
  border-radius: 3px;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
}

.wishlist-btn:active {
  color: #252525;
  transition: 0.2s;
  background-color: whitesmoke;
  border: 0.5px solid #b21368;
}

.remove-wishlist-btn {
  background: none;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 50%;
  cursor: pointer;
}

.remove-wishlist-btn:active {
  font-size: small;
  color: red;
}
