.mycart-img {
  object-fit: cover;
  height: 220px;
  width: 200px;
  border-radius: 3px;
}

.mycart-parent-div {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.mycart-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.mycart-card {
  display: flex;
  width: 30rem;
  padding: 5px;
  gap: 1rem;
  margin: 1rem;
  line-height: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mycart-card h2 {
  font-size: x-large;
}

.mycart-p {
  color: gray;
}

.mycart-data {
  display: flex;
  align-items: center;
}

.mycart-quantity-btn {
  margin-top: 1rem;
  padding: 7px;
  background: none;
  border: none;
  font-size: medium;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.quantity {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.mycart-btn {
  color: whitesmoke;
  background-color: #b21368;
  border-radius: 3px;
  border: none;
  margin-top: 2rem;
  padding: 7px;
  width: 50%;
  cursor: pointer;
}

.mycart-btn:active {
  color: #252525;
  transition: 0.2s;
  background-color: whitesmoke;
  border: 0.5px solid #b21368;
}

.remove-mycart-btn {
  background: none;
  border: none;
  margin-top: 1rem;
  padding: 5px;
  width: 50%;
  cursor: pointer;
}

.remove-mycart-btn:active {
  font-size: small;
  color: red;
}
