.filter-mainDiv {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  grid-gap: 1rem;
  gap: 1rem;
  text-align: left;
  font-size: large;
  padding: 1rem 2rem 80px;
  border-right: 1.5px solid rgba(128, 128, 128, 0.659);
}

.filter-button {
  background: transparent;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.filter-button:hover {
  transition: 1s;
  filter: blur(0.25px);
  border-bottom: 1px solid rgba(128, 128, 128, 0.832);
}

.filter-heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.filter-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-range {
  margin-top: 1rem;
  width: 15rem;
  accent-color: #b21368cb;
}

.filter-checkbox {
  padding-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-sorting {
  accent-color: #b21368;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
