.products-maiDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 20rem;
}

.products-cart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 15rem;
  border-radius: 8px;
}

.products-cart:hover {
  transition: 0.2s;
  transform: scale(0.98);
}

.products-img {
  object-fit: fill;
  width: 100%;
  height: 250px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid gainsboro;
}

.products-cart p {
  margin-top: 0.5rem;
  text-align: left;
  padding-left: 0.6em;
}

.products-cart-weight {
  font-size: smaller;
  color: gray;
}

.btn-div {
  margin-top: 1.3rem;
  width: 100%;
}

.products-cart-button1 {
  padding: 0.69rem;
  width: 50%;
  border: none;
  background-color: #b21368;
  color: whitesmoke;
  border-radius: 0px 0px 0px 8px;
}

.products-cart-link_button {
  color: whitesmoke;
  text-decoration: none;
}

.products-cart-button2 {
  padding: 0.69rem;
  width: 50%;
  border: none;
  background-color: #b21368;
  color: whitesmoke;
  border-radius: 0px 0px 8px 0px;
}

.products-cart button:active {
  transform: scale(0.98);
  background-color: #b21368e0;
}
