.product-img {
  width: 250px;
  height: 260px;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.product-cardLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
}

.product-card {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  width: 250px;
  height: 450px;
}
.product-card:hover {
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.card-button {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  margin: 5px;
}
.heading {
  font-size: xx-large;
  font-weight: 700;
}
