footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  padding: 2rem;
  list-style: none;
  font-size: 19px;
  line-height: 2rem;
  text-align: left;
  background-color: #252525;
  color: whitesmoke;
}
