.heading {
  font-weight: 600;
  font-size: 30px;
  transform: scale(1.3, 1.2);
}

.navBar_mainDiv {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navBar {
  height: 70px;
  display: flex;
  align-items: center;
  color: whitesmoke;
  background-color: #b21368;
}
.div-A {
  flex-grow: 0.2;
}

.div-B {
  flex-grow: 0.5;
}

.div-C,
.div-D,
.div-E {
  flex-grow: 0.1;
}

.search-bar {
  width: 100%;
  height: 1.9rem;
  border: 1px solid whitesmoke;
  border-radius: 1px;
  font-size: medium;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.link {
  color: whitesmoke;
  text-decoration: none;
}

.link:hover {
  transition: 0.2s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}
