.heading {
  font-size: xx-large;
  font-weight: 500;
}
.navBar {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: whitesmoke;
  padding: 0.5rem;
  background-color: crimson;
}

.search-bar {
  margin: 10px 50px 10px 0px;
  padding: 0px 50px 0px 20px;
  width: 30rem;
  height: 1.6rem;
  border: 1px solid whitesmoke;
  padding: 5px;
  border-radius: 1rem;
}
.link {
  color: whitesmoke;
  text-decoration: none;
}

.link:hover {
  transition: 0.2s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}
.logo {
  box-shadow: 0px 1px 5px 0px rgba(155, 155, 155, 1) inset;
}
/* * {
  padding: 0px;
  margin: 0px;
}

.navigation {
  background-color: #c4eef2;
  width: 100vw;
  height: 16vh;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.childA,
.childC,
.childD,
.childE {
  flex: 15vw;
}
.childA {
  background-color: #025159;
}
.childB {
  background-color: #3f858c;
  flex: 30vw;
}
.childC {
  background-color: #025159;
}
.childD {
  background-color: #3f858c;
}

.search-bar {
  margin: 10px 50px 10px 0px;
  width: 400px;
  height: 20px;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 1rem;
} */
